# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @ethanwharris @borda @tchaton @justusschock @krshrimali @kaushikb11

# owners
/.github/CODEOWNERS   @williamfalcon
# main
/README.md            @ethanwharris @krshrimali
# installation
/setup.py                 @borda @ethanwharris @krshrimali
/__about__.py             @borda @ethanwharris @krshrimali
/__init__.py              @borda @ethanwharris @krshrimali

# CI/CD
/.github/workflows/   @borda @ethanwharris @krshrimali
# configs in root
/*.yml                @borda @ethanwharris @krshrimali

# Docs
/.github/ISSUE_TEMPLATE/*.md    @borda @ethanwharris @krshrimali
/docs/source/conf.py            @borda @ethanwharris
/flash/core/integrations/labelstudio	@KonstantinKorotaev @niklub
