# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @ethanwharris @borda @tchaton @justusschock @kaushikb11

# owners
/.github/CODEOWNERS   @williamfalcon
# main
/README.md            @edenlightning @ethanwharris
# installation
/setup.py                 @borda @ethanwharris
/__about__.py             @borda @ethanwharris
/__init__.py              @borda @ethanwharris

# CI/CD
/.github/workflows/   @borda @ethanwharris
# configs in root
/*.yml                @borda @ethanwharris

# Docs
/docs/                          @edenlightning @ethanwharris
/.github/*.md                   @edenlightning @ethanwharris
/.github/ISSUE_TEMPLATE/*.md    @edenlightning @ethanwharris
/docs/source/conf.py            @borda @ethanwharris
/flash/core/integrations/labelstudio	@KonstantinKorotaev @niklub
