pytorch-lightning==1.2.0rc0
torch==1.7.1
PyYAML==5.3.1
Pillow>=7.2
torchvision==0.8.2
transformers==4.2.2
datasets==1.2.1
pandas==1.1.2
scikit-learn==0.24.0
numpy
tqdm
rouge-score>=0.0.4
sentencepiece>=0.1.95
pytorch-lightning-bolts==0.3.0
