packaging
setuptools<=59.5.0  # Prevent install bug with tensorboard
numpy<1.24  # freeze for using np.long
torch>=1.9.0
torchmetrics>=0.7.0, <0.11.0
pytorch-lightning>=1.7.0
pyDeprecate
pandas>=1.1.0
jsonargparse[signatures]>=3.17.0, <=4.9.0
click>=7.1.2
protobuf<=3.20.1
fsspec[http]>=2021.6.1,<=2022.7.1
lightning-utilities>=0.4.1
