{%- set external_urls = {
  'github': 'https://github.com/PytorchLightning/pytorch-lightning-flash',
  'github_issues': 'https://github.com/PytorchLightning/pytorch-lightning-flash/issues',
  'contributing': 'https://github.com/PytorchLightning/pytorch-lightning/blob/master/CONTRIBUTING.md',
  'governance': 'https://github.com/PytorchLightning/pytorch-lightning/blob/master/governance.md',
  'docs': 'https://pytorchlightning.github.io/pytorch-lightning-flash',
  'twitter': 'https://twitter.com/PyTorchLightnin',
  'discuss': 'https://pytorch-lightning.slack.com',
  'tutorials': 'https://pytorch-lightning.readthedocs.io/en/latest/#tutorials',
  'previous_pytorch_versions': 'https://pytorch-lightning.rtfd.io/en/latest/',
  'home': 'https://pytorchlightning.github.io/pytorch-lightning-flash/',
  'get_started': 'https://pytorchlightning.github.io/pytorch-lightning-flash/quickstart.html',
  'features': 'https://pytorchlightning.github.io/pytorch-lightning-flash/',
  'blog': 'https://pytorchlightning.github.io/pytorch-lightning-flash/',
  'resources': 'https://pytorchlightning.github.io/pytorch-lightning-flash/',
  'support': 'https://pytorchlightning.github.io/pytorch-lightning-flash/',
}
-%}
