{%- set external_urls = {
  'github': 'https://github.com/PyTorchLightning/lightning-flash',
  'github_issues': 'https://github.com/PyTorchLightning/lightning-flash/issues',
  'contributing': 'https://github.com/PyTorchLightning/pytorch-lightning/blob/master/CONTRIBUTING.md',
  'governance': 'https://github.com/PyTorchLightning/pytorch-lightning/blob/master/governance.md',
  'docs': 'https://lightning-flash.readthedocs.io',
  'twitter': 'https://twitter.com/PyTorchLightnin',
  'discuss': 'https://pytorch-lightning.slack.com',
  'tutorials': 'https://github.com/Lightning-AI/tutorials',
  'previous_pytorch_versions': 'https://lightning-flash.readthedocs.io/en/stable',
  'home': 'https://lightning-flash.readthedocs.io',
  'get_started': 'https://lightning-flash.readthedocs.io/en/latest/quickstart.html',
  'features': 'https://lightning-flash.readthedocs.io/',
  'blog': 'https://www.pytorchlightning.ai/blog',
  'resources': 'https://lightning-flash.readthedocs.io/',
  'support': 'https://lightning-flash.readthedocs.io/',
  'community': 'https://pytorch-lightning.slack.com',
  'forums': 'https://pytorch-lightning.slack.com',
}
-%}
