name: "Check Docs"
# https://github.com/marketplace/actions/sphinx-build

on: # Trigger the workflow on push or pull request, but only for the master branch
  push: {}
  pull_request:
    branches: [master]

jobs:
  make-docs:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - uses: actions/setup-python@v4
      with:
        python-version: 3.7

    # Note: This uses an internal pip API and may not always work
    # https://github.com/actions/cache/blob/master/examples.md#multiple-oss-in-a-workflow
    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: pip-${{ hashFiles('requirements.txt') }}
        restore-keys: pip-

    - name: Install dependencies
      run: |
        sudo apt-get update --fix-missing
        # install Texlive, see https://linuxconfig.org/how-to-install-latex-on-ubuntu-20-04-focal-fossa-linux
        sudo apt-get install -y cmake pandoc texlive-latex-extra dvipng texlive-pictures
        pip --version
        pip install . --find-links https://download.pytorch.org/whl/cpu/torch_stable.html
        pip install --requirement requirements/docs.txt
        pip list
      shell: bash

    - name: Make Documentation
      working-directory: docs
      run: make html --debug --jobs 2 SPHINXOPTS="-W --keep-going"

    - name: Upload built docs
      uses: actions/upload-artifact@v3
      with:
        name: docs-results-${{ github.sha }}
        path: docs/build/html/

  test-docs:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions/setup-python@v4
        with:
          python-version: 3.7

      # Note: This uses an internal pip API and may not always work
      # https://github.com/actions/cache/blob/master/examples.md#multiple-oss-in-a-workflow
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('requirements/base.txt') }}
          restore-keys: pip-

      - name: Install dependencies
        run: |
          sudo apt-get update --fix-missing
          sudo apt-get install -y cmake pandoc libsndfile1
          pip --version
          pip install '.[all,test]' --find-links https://download.pytorch.org/whl/cpu/torch_stable.html
          pip install --requirement requirements/docs.txt
          pip list
        shell: bash

      - name: Cache datasets
        uses: actions/cache@v3
        with:
          path: |
            docs/data
            data
          key: flash-datasets-docs

      - name: Test Documentation
        working-directory: docs
        env:
          SPHINX_MOCK_REQUIREMENTS: 0
          FIFTYONE_DO_NOT_TRACK: true
          FLASH_TESTING: 1
        run: make doctest
